* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Moon Dance', cursive;
    font-family: 'Satisfy', cursive;

}

img {
    width: 350px;
    height: 300px;
    /* box-shadow: rgba(97, 83, 255, 0.661) 0px 0px 35px; */
    border-radius: 20px;
    /* box-shadow: rgba(91, 91, 248, 0.1) 0px 4px 16px, rgba(135, 135, 243, 0.1) 0px 8px 24px, rgba(118, 118, 239, 0.1) 0px 16px 56px; */
}

.float{
    float: left;
    letter-spacing: 2.8px;
    margin: 9px;
    font-size: 35px;
}
body {
    background: url('./pexels-daria-obymaha-1683989.jpg');
    background-size: cover;
    color: white;
    text-align: center;
}

.center-div {
    z-index: 999;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   
}

.content-div h5 {
    /* color: orange; */
    margin-top: 30px;
    letter-spacing: 2.5px;
    font-size: 25px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}
.flex input {
    width:400px;
    outline:none;
}
.flex button {
    width:100px;
}

.flex input,button {
    padding: 10px;
    border: none;
    cursor:pointer;
}
.content-div p{
    color: orange;
    letter-spacing: 2px;
}

button:hover{
background-color: black;
color: white;
}

.flex-row{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-direction: row;
    text-align: center;
    color: white;
   
    margin: 30px;
}
.flex-row p{
    margin-right:50px;
    font-size: 16px;
    letter-spacing: 1px;
}
.flex-row a{
 text-decoration: none;
 color: white;
}

.fa{
    padding-right: 10px;
}

a:hover{
    color: orange;
}
.clock-bg{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.clock{
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("https://github.com/pulkit-rastogi97/CSS-Neumorphism-Analog-Clock/blob/master/images/clock.png?raw=true");
    background-size: cover;
    border: 5px solid #ebf5fa;
    border-radius: 50%;
    box-shadow: 0 -15px 15px rgba(255,255,255,0.05),
                inset 0 -10px 10px rgba(255,255,255,0.05),
                0 4px 15px rgba(0, 0, 0, 0.3),
                inset 0 4px 10px rgba(0, 0, 0, 0.3);
}

.clock:before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background:orange;
    border-radius: 50%;
    z-index: 10000;
}

.clock .hour,
.clock .min,
.clock .sec{
    position: absolute;
}

.clock .hour, .hr{
    width: 160px;
    height: 160px;
}

.clock .min, .mn{
    width: 190px;
    height: 190px;
}

.clock .sec, .sc{
    width: 230px;
    height: 230px;
}

.hr, .mn, .sc{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: absolute;
    border-radius: 50%;
}

.hr:before{
    content: '';
    position: absolute;
    width: 8px;
    height: 80px;
    background: #fff;
    border-radius: 6px 6px 0 0;
    z-index: 10;
}

.mn:before{
    content: '';
    position: absolute;
    width: 4px;
    height: 90px;
    background: #fff;
    border-radius: 6px 6px 0 0;
    z-index: 11;
}

.sc:before{
    content: '';
    position: absolute;
    width: 2px;
    height: 150px;
    background: orange;
    border-radius: 6px 6px 0 0;
    z-index: 12;
}
